body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: :linear-gradient(rgba(0,0,50,0.5), rgba(0,0,50,0.5));
    background-image: url(medecin.jpg);
    background-size: cover;
    background-position: no-repeat center fixed;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.accueil{
	margin-top: 10px;
	color: black;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}
.accueil h1{
	font-size: 50px;
}


.container{
    max-width: 1170px;
    margin:auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

.table-style  {
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    margin: 0px auto;
    border: 2px solid black;
}

thead tr {
    background-color: #486b7b;
    color: #fff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
    text-align: center;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even){
    background-color: #d3d3d3;
}

@media screen and (max-width: 550px) {
  body {
    align-items: flex-start;
  }
  .table-style  {
    width: 100%;
    margin: 0px;
    font-size: 10px;
  }
  th, td {
    padding: 10px 7px;
}

}

/* page affichage medecin */ 
.Affichage-medecin{
    border-collapse: collapse;
    cursor: pointer;
    margin-top:10px ;
    margin-bottom:10px ;
    width: 200%;
    font-size: 15px;
}
input {
    background-color: #2a5265;
    border: none;
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    margin: 4px 2px;
    

}

a {
     background-color: #9cb0b1;
  color: black;
  border: 2px solid #9cb0b1;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;

}